body{
    background-image: url(../img/oasis1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    height: auto;
    background-color: rgba(186, 218, 236, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    position: relative;
}

.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity value as needed */
    border-radius: 15px;
    padding: 20px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.overflow-hidden {
    overflow: hidden;
}


    table {
        width: 100%; /* Full-width table */
        border-collapse: collapse; /* Collapses borders between cells */
        margin: 20px 0; /* Margin above and below the table */
    }
    th, td {
        text-align: left; /* Align text to the left */
        padding: 8px; /* Padding in cells */
        border-bottom: 1px solid #bbb; /* Slightly darker gray border below each row */
    }
    th {
        background-color: #e0e0e0; /* Darker gray background for headers */
        color: #333; /* Dark text for visibility */
    }
    tr:hover {
        background-color: #d0d0d0; /* Even darker gray background on row hover */
    }
    .edit-delete-cell {
        visibility: hidden; /* Initially hidden */
    }
    .auth-visible .edit-delete-cell {
        visibility: visible; /* Only visible when an 'auth-visible' class is added via server-side or script */
    }
