body{
    background-image: url(../img/oasis1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}



.modal-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: none;
}

.header{
    height: auto;
    background-color: rgba(186, 218, 236, 0.418);
    background-size: cover;
    background-attachment: fixed;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    position: relative;
}

.bg-white-opacity {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity value as needed */
    border-radius: 15px;
    padding: 20px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.overflow-hidden {
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #bbb; /* Darker gray border */
}

th {
    background-color: #e0e0e0; /* Darker gray background for headers */
    color: #333; /* Dark text for visibility */
}

tr:hover {
    background-color: #d0d0d0; /* Even darker gray background on row hover */
}

.edit-delete-cell, .add-to-cart-cell {
    visibility: hidden; /* Initially hidden, show based on conditions */
}

.auth-visible .edit-delete-cell, .auth-visible .add-to-cart-cell {
    visibility: visible; /* Make visible based on authentication */
}

